<% include partials/_header %>
  
  
  

    <h5>User Registration</h5>
                <form action="/add" method="POST">                 
				   
				   
                        <input type="text" name="name" placeholder="Name" autofocus>   <br>                   
                       
                        <input type="text" name="phone" placeholder="Phone" >  <br>
                        
                        <input type="text" name="balance" placeholder="balance" >  <br>
                    
                    <button type="submit"  <br>
                        Add User
                    </button>
                </form>
            
			

<% include partials/_footer %>			
			